body {
    margin: 0;
}

.halfscreen {
    width: 45%;
    padding: 30px;
}

.left {
    float: left;
}

.right {
    margin-left: auto;
}

#map {
    height: 430px;
    position: relative;
    width: 100%;
}

.maps-frame {
    height: 430px;
    width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton a {
    color: #757575;
    display: inline-block;
    height: 100%;
    padding: 0 24px;
    width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton {
    padding: 0;
}

.kd-tabbed-vert.header-links .kd-tabbutton.selected a {
    color: #03a9f4;
}

.kd-tabbed-vert.header-links .kd-tabbutton a:focus {
    text-decoration: none;
}

p.top-desc {
    padding: 1em 1em .1em 1em;
}

p.bottom-desc {
    padding: 0em 1em 1em 1em;
}

#locationField,
#controls {
    position: relative;
    width: 480px;
}

#autocomplete {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99%;
}

.label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
}

#address {
    border: 1px solid #000090;
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px;
}

#address td {
    font-size: 10pt;
}

.field {
    width: 99%;
}

.slimField {
    width: 80px;
}

.wideField {
    width: 200px;
}

#locationField {
    height: 20px;
    margin-bottom: 2px;
}